@import "/home/jules/.config/waybar/colors.css";

window#waybar {
	background-color: @background;
}

#clock,
#network,
#custom-power,
#custom-launcher {
    padding: 0 4px;
    margin: 4px;
    border-radius: 4px;
}

#workspaces {
    background-color: @background;
}

#workspaces button {
	padding: 0 4px;
	margin: 4px;
	border-radius: 4px;
	background-color: @purple;
	color: @foreground;
}

#workspaces button:hover {
    color: @background;
    box-shadow: none;
    text-shadow: none;
    border: 0px;
    background: none;
}

#workspaces button:hover * {
    color: @background;
    background-color: @green;
}

#clock {
    background-color: @purple;
}

#network {
    background-color: @background;
    color: @purple;
    font-size: 24px;
}

#network:hover {
    background-color: @purple;
    color: @background;
}


#custom-launcher {
    background-color: @background;
    color: @yellow;
    font-size: 24px;
}

#custom-launcher:hover {
    background-color: @yellow;
    color: @background;
}

#custom-power {
    background-color: @background;
    color: @red;
    font-size: 24px;
}

#custom-power:hover {
    background-color: @red;
    color: @background;
}
